name: Build

on:
  push:
  workflow_dispatch:

jobs:
  build:
    name: Go build
    strategy:
      fail-fast: true
      matrix:
        os: [ ubuntu-latest, macos-latest ]
        go: [ 1.18, 1.19 ]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Check out code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set up Go ${{ matrix.go }}
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go }}
        env:
          GO111MODULE: on

      - uses: actions/cache@v2
        with:
          path: |
            ~/go/pkg/mod
            ~/.cache/go-build
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Run make
        run: make
